<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="container-fluid">
		<h1>Temperature Conversion</h1>
		<form role="form" method="GET">
		  <div class="form-group">
			<label for="tem">Temperature:</label>
			<input type="text" class="form-control" name="tem" id="tem">
		  </div>
		  <div class="form-group">
			<label for="unit">Unit:</label>
			<select name="unit" id="unit" class="form-control">
			  <option value="cel">Celcius</option>
			  <option value="fah">Fahrenheit</option>
			</select>
		  </div>
		  <button type="button" class="btn btn-primary">Convert</button>
		</form>
	</div>
	<div id="result" style="margin:10px; color:red;"></div>
	<script>
		$(document).ready(function(){
			$("button").click(function(){
				var tem = $("#tem").val();
				var unit = $("#unit").val();
				$.get("http://localhost:3000/conv/"+tem+"/"+unit,
				function(data,status){
					$("#result").html("<br>temperature -> "+data.tem_conv+
					    ",unit ->"+data.unit_conv);

				});

			});
		});

	</script>
  </body>
</html>
